<!DOCTYPE html>
<html>
<head>
	<title>about Us</title>
</head>
<body>
	<h1>this is my about page</h1>
    <p>This is an exact copy of the NodeJS ’path’ module published to the NPM registry.

</p>
</body>
</html>